PROFILE: your aws named credentaisl
REGION: aws region
BUCKET: the name of the bucket created in serverless.yml
APP_NAME: manager-classifier

CLASSIFIER_URI: you will get this when you deploy the first time, it won't change
CLASSIFIER_PATH: /classifier 

SLACK_URI: slack webhook URI
SLACK_PATH: path to the slack channel - I got this folowing the exampl curl statement that the slack app gives you.

LOG_GROUP_ARN: arn of the cloudwatch log stream (I  created this by hand but could be in serverless.yml)
